
* { margin: 0px; padding: 0px;}
html { height: 100%; }
body {
	margin: 0;
	padding: 0;
	background-color: beige;
  	position: relative;
  	font-family: Arial;
  	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 { color: black; font-family: Arial}

/* FORM DEFAULTS */
form h2 {
	margin: 25px auto;
	text-align: center;
	font-family: Arial;
}

form input {
	width: 100%;
	display: block;
	padding: 13px 13px;
	font-size: 1em;
	margin: 5px auto 10px;
	border-radius: 3px;
	box-sizing : border-box;
	background: transparent;
	border: 1px solid #3E606F;
}

form input:focus {
	outline: none;
}


/* NAVBAR */
.navbar {
	width: 100%;
	margin: auto;
    overflow: auto;
	background-color: green;
	border: 0;
}

ul {
	padding: 0;
	margin: 0 0 0 130px;
	list-style: none;
}

li {
	float: left;
}

.navbar a {
	width: 100px;
	float: left;
    display: block;
    color: white;
    text-align: center;
	font-family: Arial;
	font-size: 20px;
    padding: 25px 30px;
    text-decoration: none;
}

.navbar a:hover {
	color: black;
    background-color: white;
	transition: 0.5s;
	text-transform: uppercase;
}

.logo img{
	position: absolute;
	margin-left: 10px;
	height: 100px;
	width: 120px;
	float: left;
	background-color: beige;
}

.searchbar {
	float: right;
	position: relative;
	right: 200px;
	top: 10px;
}

.searchbar input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 2px solid black;
	float: left;
	width: 80%;
	background: #f1f1f1;
}
  
.searchbar button {
	width: 20%;
	padding: 10px;
	background: tan;
	color: white;
	font-size: 17px;
	border: 2px solid black;
	cursor: pointer;
	position: relative;
	top: 5px;
}
  
.searchbar button:hover {
	background: beige;
}

/* FOOTER */
.footer {
  	position: absolute;
  	bottom: 0;
  	color: white;
  	background-color: green;
  	text-align: center;
  	width: 100%;
  	padding: 5px;
}
